
section.team-list {

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 1em 0em;
		justify-content: space-around;

		h4 {
			color: $blue;
		}


		> li {
			max-width: 50%;
			width: 200px;
			text-align: center;
			padding-bottom: 1em;
			list-style-type: none;

			div {
				margin: 0 auto;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				background-position: center center;
				background-size:cover;
				margin-bottom: 5px;
				background-color: #ddd
			}

			span {
				display: block;
			}
		}
	}
}


@media (max-width: 500px) {
	section.team-list {
		ul {
			li {
				div {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
}

