---
title: OWASP Norway Day
footer: Main page photo by <a href="https://www.flickr.com/people/91545223@N00">Benson Kua</a>
---

<header>
	
</header>

<section class="image" title="Photo by: Benson Kua from Toronto, Canada">
	<div>
		<h1>OWASP Norway Day</h1>
		<h2>November 20th 2018</h2>
		<a class="button" href="https://www.eventbrite.com/e/owasp-norway-day-2018-tickets-50096149933">Register</a>
	</div>
</section>


<section class="team-list">
	<h1>Our speakers</h1>
	<ul >
	{% for member in site.data.speakers %}
	<li>
		<div style="background-image: url(../assets/images/{{member.image | default: 'owasp_logo.png'}})" alt="{{member.name}} {{member.company}}"></div>
		<h4>{{member.name}}</h4>
		<span class="role">{{member.company}}</span>
	</li>
	{% endfor %}
	</ul>
	<div style="text-align: center"><a href="#program">See the full program</a></div>
</section>

<section class="inverse">
	<p>
		The OWASP Norway Chapter is 10 years this year, and we are celebrating this with a one-day single-track conference at the University of Oslo.
	</p>
	<p>
		The conference is targeted at developers, security engineers and security testers, and is limited to 200 participants.
	</p>
	<p>
		<a class="button" href="https://www.eventbrite.com/e/owasp-norway-day-2018-tickets-50096149933">Register</a>
	</p>
</section>

<section class="sponsors">
	<h1>Our sponsors</h1>
{% for sponsortype in site.data.sponsors %}
	{% if sponsortype.sponsors %}
  	<h3>{{ sponsortype.type }} sponsors</h3>
	  <div class="{{ sponsortype.type }}">
		{% for sponsor in sponsortype.sponsors %}
	    <a style="background-image: url(/assets/images/{{sponsor.logo}});{% if sponsor.backgroundSize %}background-size: {{sponsor.backgroundSize}};{% endif %}" title="{{sponsor.name}}" href="{{sponsor.url}}"></a>
	  {% endfor %}
	  </div>
  {% endif %}
{% endfor %}
</section>

<section class="map">
</section>

<section class="program">
	<h1><a name="program">The Program</a></h1>
	{% for talk in site.data.program %}
		<details>
			<summary><span>{{talk.title}}</span> {{talk.name}}</summary>
			<p>{{talk.abstract}}</p>
			<p class="bio">{{talk.bio}}</p>
		</details>
	{% endfor %}
</section>

<section class="team-list inverse">
	<h1>The Conference Team</h1>
	<ul>
	{% for member in site.data.team %}
	<li>
		<div style="background-image: url(../assets/images/{{member.image | default: 'owasp_logo.png'}})" alt="{{member.name}} {{member.company}}"></div>
		<h4>{{member.name}}</h4>
		<span class="role">{{member.company}}</span>
	</li>
	{% endfor %}
	</ul>
</section>

<section class="become-a-sponsor">
        <h1>Become a sponsor</h1>
        <p>We need your help to make this event happen. Sponsorship options are available in the <a href="/docs/sponsorship.pdf">sponsorship document</a>.</p>
        <p>If you are interested in sponsoring the event, please contact: <a href="mailto:kelly.santalucia@owasp.org">kelly.santalucia@owasp.org</a></p>
</section>

<section class="code-of-conduct">
	<h1>Code of Conduct</h1>
	<h2>The Quick Version</h2>
	<p>Our conference is dedicated to providing a harassment-free conference experience for everyone. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media.</p>
	<p>Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.</p>

	<h2>The Less Quick Version</h2>
	<p>Harassment includes offensive verbal comments related to gender, expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, inappropriate images in public spaces, deliberate intimidation, stalking,  harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome attention.</p>
	<p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
	<p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
	<p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>
	<p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.</p>
	<p>Conference staff will be happy to help participants contact venue security or local law enforcement, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
	<p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>

	<h2>Attendance Is At Your Own Risk</h2>
	<p>Attendance at OWASP Norway Day is at your own risk and by entering OWASP Norway Day you agree not to hold OWASP Norway Day, partners, subsidiaries or parent companies liable for any damage or distress incurred at an OWASP Norway Day event.</p>

	<h2>Photography &amp; Video</h2>
	<p>During OWASP Norway Day events any person may be photographed or filmed as part of the occasion, either as an individual or as a member of a group by media personnel authorised by OWASP Norway Day. An individual may also appear in a photograph or video inadvertently, in the background. Permission is incorporated into the entry conditions to the event.</p>
	<p>You must inform said media personnel if you do not wish to be photographed or filmed.</p>

	<hr/>
	
	<p>Original source and credit: <a href="http://2012.jsconf.us/#/about">JSConf US</a> &amp; <a href="https://adainitiative.org/">The Ada Initiative</a> &amp; <a href="https://appsecday.io/coc/">OWASP AppSec Day 2018</a></p>
	<p>This work is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
</section>

