---
---
@import "reset";
@import "vars";
@import "teamlist";
@import "sponsors";
@import "detailed-program";

@font-face {
    font-family: 'Aller-Italic';
    src:url('../fonts/Aller-Italic.ttf.woff') format('woff'),
        url('../fonts/Aller-Italic.ttf.svg#Aller-Italic') format('svg'),
        url('../fonts/Aller-Italic.ttf.eot'),
        url('../fonts/Aller-Italic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src:url('../fonts/Aller.ttf.woff') format('woff'),
        url('../fonts/Aller.ttf.svg#Aller') format('svg'),
        url('../fonts/Aller.ttf.eot'),
        url('../fonts/Aller.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}





* {
	box-sizing: border-box;
}

a, a:hover, a:visited {
	color: $blue;
}


a.button {
	display: inline-block;
	margin-top: 1em;
	background: #fff;
	color: $blue;
	padding: 0.5em 1em;
	border-radius: 1em 1em;
	text-decoration: none;
}
section.inverse a.button {
	color: $blue !important;
}

h1 {
	font-size: 250%;
	font-weight: bold;
	padding-bottom: 0.5em;
}
h2 {
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 0.25em;
}

body {
  font-family: 'Aller', sans-serif;
}

header {
	background: transparent url('../images/owasp-norway-day2-white.svg') 10em center no-repeat;
	background-size: auto 5em;
	height: 7em;
	display: block; 
	margin: 0em;
	margin-bottom: -7em;
	position: relative;
}

footer {
	text-align: center;
	font-size: 70%;
	width: 100%;
	padding: 0em 0em 0em 0em;
	background-color: #fff;
}

section.image {
	background: url('../images/simpleback.svg'), url('../images/barcode.jpg');
	background-repeat: no-repeat;
	background-size: cover, cover;
	background-position: 0% 25%;
	padding-top: 15em;
	h1 {
		text-align: left;
	}
	h2 {
		padding-bottom: 1em;
	}
	div {
		color: #fff;
		padding-left: 10em;
	}
}
section.map {
	background: url('../images/uio.png');
	background-size: cover;
	background-position: center center;
	height: 20em;
}
section {
	padding: 3em 10%;
	h1 {
		text-align: center;
	}
	&.center {
		text-align: center;
	}
	p { line-height: 1.5em; padding-bottom: 0.5em;}
}


section.inverse {
	background: $blue;
	color: #fff;
	a, a:hover, a:visited {
		&:not(.button) {
			color: #fff;
		}
	}
}

section.program {
	summary {
		font-size: 110%;
		font-weight: bold;
		margin-bottom: 0.2em;
		margin-top: 0.5em;
		span::after {
			content: " - ";
		}
	}
	p.bio { 
		font-style: italic; 
	}
}

detailed-program-header {
	background: transparent url('../images/owasp-norway-day2-white.svg') center no-repeat;
	background-size: auto 10em;
	height: 10em;
	display: block; 
	margin: 0em;
	margin-bottom: -10em;
	position: relative;
}

section.detailed-program-header-image {
	@extend section.image;
	padding-top: 8em;
}

@media (max-width: 500px) {
	header {
		background-position: 0em center;
	}
	section.image {
		div {
			padding-left: 1em;
		}
	}
}
